extends layout

block content
  
  h2 Seleccione la asignacion a elimiar:
  div(class='well')
      table(class='table')
        tr
          th Id
          th Nombre
          th Horas
          th Fecha de inicio
          th Fecha de fin
          th Asignatura
        each impartir in asignaciones
          
          tr
            td #{impartir.id}
            td #{impartir.profesor.nombre}
            td #{impartir.horas}
            td #{impartir.fecha_ini}
            td #{impartir.fecha_fin}
            td #{impartir.asignatura.nombre}
            td 
              form(method='post')
                  Button(name ='id' value= '#{impartir._id}' type='submit' class="btn-danger" ) Eliminar