extends layout

block content
    //- Necesito estos cuatro campos:
        apellido
        nombre
        id
        email
    form(method='post')
        div(class='form-group')
            label(for='id') id:
            input(value ='#{impartir.id}' name='id'  class='form-control' type='number' required)
        div(class='form-group')
            label(for='nombre') Introducir nombre del profesor:
            select(value ='#{impartir.profesor.nombre}' name='profesor'  class='form-control' required)
                each profesor in profesores
                    option(value='#{profesor._id}') #{profesor.nombre} #{profesor.apellido}
        div(class='form-group')
            label(for='horas') horas:
            input(value ='#{impartir.horas}' name='horas'  class='form-control' type='number' required)
        div(class='form-group')
            label(for='fecha_ini') Fecha de inicio:
            input(value ='#{impartir.fecha_ini}' name='fecha_ini'  class='form-control' type='text' required)
        div(class='form-group')
            label(for='fecha_fin') Fecha de fin:
            input(value ='#{impartir.fecha_fin}' name='fecha_fin'  class='form-control' type='text' required)
        div(class='form-group')
            label(for='asignatura') Asignatura:
            select(value ='#{impartir.asignatura.nombre}' name='asignatura'  class='form-control'  required)
                each asignatura in asignaturas
                    option(value='#{asignatura._id}') #{asignatura.nombre}
        div(class='form-group')
            button(type='submit' name ='_id' value='#{impartir._id}') Enviar