extends layout

block content
    //- Necesito estos cuatro campos:
        apellido
        nombre
        id
        email
    form(method='post')
        div(class='form-group')
            label(for='id') id:
            input(name='id', class='form-control',type='number',required)
        div(class='form-group')
            label(for='alumno') Nombre del alumno:
            select(name='alumno', class='form-control',required)
                each alumno in alumnos
                    option(value='#{alumno._id}') #{alumno.nombre} #{alumno.apellido}
        div(class='form-group')
            label(for='fecha_ini') Fecha de Inicio:
            input(name='fecha_ini', class='form-control',type='date',required)
        div(class='form-group')
            label(for='fecha_fin') Fecha fin:
            input(name='fecha_fin', class='form-control',type='date',required)
        div(class='form-group')
            label(for='asignatura') Asignatura:
            select(name='asignatura', class='form-control', required)
                each asignatura in asignaturas
                    option(value='#{asignatura._id}') #{asignatura.nombre}
        div(class='form-group')
            button(type="submit") Enviar