extends layout

block content
  
  h2 Seleccione la matriculació a eliminar:
  div(class='well')
      table(class='table')
        tr
          th Id
          th Nombre
          th Fecha de inicio
          th Fecha de fin
          th Asignatura
        each matricula in matriculas
          
          tr
            td #{matricula.id}
            td #{matricula.alumno.nombre}
            td #{matricula.fecha_ini}
            td #{matricula.fecha_fin}
            td #{matricula.asignatura.nombre}
            td 
              form(method='post')
                  Button(name ='id' value= '#{matricula._id}' type='submit' class="btn-danger" ) Eliminar